[project]
name = "cifar10-cnn-improved"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pytest>=9.0.2",
    "torch>=2.9.1",
    "torchvision>=0.24.1",
]
